<h2>Registro reactivo</h2>
<hr />
<form (ngSubmit)="registrar()" [formGroup]="formularioRegistraProducto">
  <div>
    <div class="form-group row">
      <label class="col-2 col-form-label p-2">Nombre</label>
      <div class="col-8">
        <input
          class="form-control"
          formControlName="nombre"
          type="text"
          placeholder="Nombre..."
          [class.is-invalid]="
            formularioRegistraProducto.get('nombre').invalid &&
            formularioRegistraProducto.get('nombre').touched
          "
        />
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label p-2">Descripcion</label>
      <div class="col-8">
        <input
          class="form-control"
          formControlName="descripcion"
          type="text"
          placeholder="Descripcion..."
          [class.is-invalid]="
            formularioRegistraProducto.get('descripcion').invalid &&
            formularioRegistraProducto.get('descripcion').touched
          "
        />
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label p-2">Url de la imagen</label>
      <div class="col-8">
        <input
          class="form-control"
          formControlName="urlImg"
          type="text"
          placeholder="Url..."
          [class.is-invalid]="
            formularioRegistraProducto.get('urlImg').invalid &&
            formularioRegistraProducto.get('urlImg').touched
          "
        />
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label p-2">Precio</label>
      <div class="col-8">
        <input
          class="form-control"
          formControlName="precio"
          type="number"
          placeholder="Precio..."
          [class.is-invalid]="
            formularioRegistraProducto.get('precio').invalid &&
            formularioRegistraProducto.get('precio').touched
          "
        />
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label p-2">Marca</label>
      <div class="col-8">
        <input
          class="form-control"
          formControlName="marca"
          type="text"
          placeholder="Marca..."
          [class.is-invalid]="
            formularioRegistraProducto.get('marca').invalid &&
            formularioRegistraProducto.get('marca').touched
          "
        />
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">&nbsp;</label>
      <div class="input-group col-md-8">
        <button type="submit" class="btn btn-outline-primary btn-block">
          Registrar
        </button>
      </div>
    </div>
  </div>
</form>
